/*ESTILOS DE NAV BAR*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

.bton {
    position: absolute;
    top: 10px;
    left: 45px;
    height: 37px;
    width: 37px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease
}

.bton.click {
    left: 260px
}

.bton span {
    color: white;
    font-size: 15px;
}

.bton.click span:before {
    content: '\f00d'
}

.sidebar {
    position: fixed;
    z-index: 10;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease
}

.sidebar.show {
    left: 0px
}

.sidebar .text {
    color: white;
    font-size: 19px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px
}

nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 10px
}

nav ul li {
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent
}

nav ul li.active a {
    color: #FC5404;
    background: #1e1e1e;
    border-left-color: #FC5404
}

nav ul li a:hover {
    background: #1e1e1e
}

.feat-show {
    transition: all 0.5s
}

nav ul li.active ul {
    transition: all 0.5s
}

nav ul ul {
    position: static;
    display: none
}

nav ul.show {
    display: block;
    transition: all 0.5s
}

nav ul ul li {
    line-height: 42px;
    border-top: none
}

nav ul ul li a {
    font-size: 12px;
    color: #e6e6e6
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent
}

a:hover {
    color: #FC5404 !important
}

nav ul ul li a:hover {
    color: #FC5404 !important;
    background: #1e1e1e !important
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg)
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #202020;
    z-index: -1;
    text-align: center
}

/*FIN DE ESTILOS DE NAVBAR*/


/*BAGGROUND GRADIENT*/

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #6c3fd3, #4d037e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/*BAGGROUND GRADIENT*/


.container_Logo {
    margin-bottom: 70px;
    padding: 50px;
    width: 650px;

}

.rock_Logo {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.logo_Publicidad {
    height: auto;
    max-width: 170px;
}

.general__Footer {
    margin: 50px;
}

.footer-license {
    font-size: x-small;
    color: whitesmoke;
}

main {
    z-index: -999;
}

.music__Group {
    margin: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card {
    background-color: rgb(248, 247, 247);
}

.contenedor__Informacion {
    background-color: rgb(248, 247, 247);
}

.contenedorAvatar__img {
    border-radius: 50%;
}

.avatar {
    max-width: 100px;
}

@media (min-width: 768px) {
    .avatar {
        max-width: 200px;
    }    
}

.avatar__img {
    border-radius: 50%;
    width: 100%;
}



.tablaListadoUsuarios {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

.tablaListadoUsuarios thead th:nth-child(1) {
    width: 30%;
}

.tablaListadoUsuarios thead th:nth-child(2) {
    width: 50%;
}

.tablaListadoUsuarios thead th:nth-child(3) {
    width: 10%;
}

.tablaListadoUsuarios thead th:nth-child(4) {
    width: 10%;
}

.tablaListadoUsuarios th,
td {
    padding: 10px;
    text-align: center;
}

#listadoUsuarios tr:nth-child(odd) {
    background-color: lightgray;
}

#listadoUsuarios tr:nth-child(even) {
    background-color: gray;
}

.adminPanel__titulo {
    padding-top: 50px;
}
.tablaListadoUsuarios{
    margin-top: 40px;
}


.accountSettings__titulo{
    padding-top: 50px;
}

.contenedorAvatar__img{
    margin: 10px 0 10px 0;
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.2);
}

.accountSettings__label{
    font-size: 20px;
}

.accountSettings__inputs{
    margin-bottom: 5px;
}

.accountSettings__btnGuardarCambios{
    margin: 15px 0;
}

.footer{
    margin-top: 50px;
}


/* .darkMode{
    background-color: black;
    color: white;
}
.lightMode{
    background-color: white;
    color: black;
} */